/*CSS GENERAL*/
body {
    background: no-repeat url("background_index.jpg");
    background-size: cover;
}


/*CSS HEADER*/
header {
    font-family: "Gill Sans", sans-serif;
}

h1 {
    font-weight: normal;
    font-size: large;
    color:rgb(255, 255, 255);
}


.logo {
    margin: auto;
    text-align: center;
}

#j {
    color: white;
}

header img {
    width: 200px;
}

header nav {
    align-self: flex-end;
}

header li {
    list-style-type: none;
    display: inline;
}

    header a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    header a:visited {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

#foot {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    color : white;
}
/*CSS other*/
