#slogan{
    text-align:center;
    font-weight: 100;
    font-style: italic;
    font-size: 50px;
}



#tableau {
    margin-top: 5%;
    width: max-content;
    border: 1px solid rgb(255, 255, 255);
    height: 300px;
}

.titre {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    border: 0.5px solid rgb(255, 255, 255);
    font-family: sans-serif;
}

.ligne {
    text-align: center;
    border: 0.5px solid rgb(255, 255, 255);
    font-weight: 100;
    font-family: sans-serif;
}


.colonne {
    text-align: center;
    margin: 5px;

}


#img_et_description{
    display: flex;
    margin : auto;
    padding: 20px;
    width: 85%;
    margin-bottom : 3%;
    margin-top: 3%;
    border: 1px  solid rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
}

    #img_et_description h3 {
        font-weight:50;
        font-size: 25px;
        font-style: italic;
    }
    #img_et_description a {
        text-decoration: none;
        color: white;
    }
    #img_et_description a:visited {
        text-decoration: none;
        color: white;
    }
    #img_et_description:first-child a {
        text-decoration: underline;
    }

.colonne:nth-child(even){
    background-color: rgb(68, 68, 68);
}

#body {
    margin:0;
    padding:0;
    height:100%;
 }

#main {
    min-height:100%;
    position:relative;
    padding-bottom:100px;   /* Hauteur du pied de page */
 }



tr {
    border: 1px solid rgb(255, 255, 255);
    color : rgb(255, 255, 255);
}


/*Modifs de dada*/
#tableau {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 90%;
}