main {
    color : white;
}

.Joueurs{
    display: flex;
    justify-content: space-between;
    color : white;
}

.Kasaolo{
    border-right: 1px solid white;
    color : white;
    margin-left: 12%;
    
}

.Salade{
    border-right: 1px solid white;
    color : white;
}

.JosyJawks{
    color : white;
    margin-right: 12%;
}

.column{
    float: left;
    width: 33.33%
}


