body {
    margin: 0;
}

.presentation{
    display:flex;
    justify-content: space-between;
    color : white;
    margin-bottom : 2%;
    margin-top: 2%;
}

.citation{
    border-right : 1px solid white;
    margin-right: 1%;
    margin-left: 3%
}

.stats{
    margin-left: 3%;
}

.column{
    float: left;
    width: 50%;
}

section {
    display: flex;
    justify-content: space-between;
    color : white;
}
#foot {
    position:relative;
    bottom:0px;
    width:100%;
    height:100px;
    color : white;
}
#main {
    min-height:100%;
    position:relative;
    padding-bottom:100px;
    overflow-x:hidden;   /* Hauteur du pied de page */
 }

 .Main1{
    display: flex;
    justify-content: space-between;
    color : white;
    margin-top : 2%;
    margin-bottom : 2%;
 }

 .Image1{
    border-right: 1px solid white;
    color : white;  
    width : 8%;
   
 }

 .Descr1{
    border-right: 1px solid white;
    color : white;
    width : 65%;
    margin-left : 2%;

 }

 .Stats1{
    color : white;
    width : 27%;
 }

 .Main2{
    display: flex;
    justify-content: space-between;
    color : white;
    margin-top : 2%;
    margin-bottom : 2%;
 }

 .Image2{
    border-right: 1px solid white;
    color : white;  
    width : 8%;
   
 }

 .Descr2{
    border-right: 1px solid white;
    color : white;
    width : 65%;
    margin-left : 2%;

 }

 .Stats2{
    color : white;
    width : 27%;
 }

 .Main3{
    display: flex;
    justify-content: space-between;
    color : white;
    margin-top : 2%;
    margin-bottom : -12%;
 }

 .Image3{
    border-right: 1px solid white;
    color : white;  
    width : 8%;
   
 }

 .Descr3{
    border-right: 1px solid white;
    color : white;
    width : 65%;
    margin-left : 2%;

 }

 .Stats3{
    color : white;
    width : 27%;
 }

 
