.Joueurs{
    display: flex;
    justify-content: space-between;
}

.Kasaolo{
    border-right: 1px solid black;

}

.Salade{
    border-right: 1px solid black;
    margin-left : 50px;
}

.JosyJawks{
    margin-left: 50px;
}

.column{
    float: left;
    width: 33.33%
}
